{{define "content"}}
    <div class="row">
        <div class="col">
            <div  class="panel ">
                <div class="panel-container show">
                    <div class="panel-content">
                        <div id="toolbar-backup">
                        </div>
                        <table  id="table-backup"
                                data-toggle="table"
                                data-toolbar="#toolbar-backup"
                                data-search="true"
                                data-url="/summaries"
                                data-pagination="true"
                                data-show-export="true"
                                data-export-types="['csv', 'txt', 'excel']"
                                data-side-pagination="client"
                                data-show-refresh="true"
                                data-show-columns="true"
                                data-sort-name="id"
                                data-show-toggle="true"
                                data-page-size="20"
                                data-sort-order="desc">
                            <thead>
                            <tr>
                                <th data-field="id" data-sortable="true">ID</th>
                                <th data-field="date" data-sortable="true" data-formatter="dateOnlyFormatter">Date</th>
                                <th data-field="srcDirs" data-sortable="true" data-formatter="backupSrcDirsFormatter">Src.</th>
                                <th data-field="dstDir" data-sortable="true" data-visible="false">Dst.</th>
                                <th data-field="workerCount" data-sortable="true" data-visible="false">Workers</th>
                                <th data-field="totalSize" data-sortable="true" data-formatter="thCommaWithTooltipFormatter">Total Size (B)</th>
                                <th data-field="totalCount" data-sortable="true" data-formatter="thCommaFormatter">Files</th>

                                <th data-field="countAdded" data-sortable="true" data-formatter="backupAddedFormatter">Added</th>
                                <th data-field="sizeAdded" data-sortable="true" data-formatter="backupAddedFormatter" data-visible="false">Added (B)</th>

                                <th data-field="countModified" data-sortable="true" data-formatter="backupModifiedFormatter">Modified </th>
                                <th data-field="sizeModified" data-sortable="true" data-formatter="backupModifiedFormatter" data-visible="false">Modified (B)</th>

                                <th data-field="countDeleted" data-sortable="true" data-formatter="backupDeletedFormatter">Deleted </th>
                                <th data-field="sizeDeleted" data-sortable="true" data-formatter="backupDeletedFormatter" data-visible="false">Deleted (B)</th>

                                <th data-field="countFailed" data-sortable="true" data-formatter="backupFailedFormatter">Failed </th>
                                <th data-field="sizeFailed" data-sortable="true" data-formatter="backupFailedFormatter" data-visible="false">Failed (B)</th>

                                <th data-field="countSuccess" data-sortable="true" data-formatter="backupSuccessFormatter">Success</th>
                                <th data-field="sizeSuccess" data-sortable="true" data-formatter="backupSuccessFormatter" data-visible="false">Success (B) </th>

                                <th data-field="extensions" data-sortable="true">extensions</th>
                                <th data-field="sizeDistribution" data-sortable="true">sizeDistribution</th>
                                <th data-field="message" data-sortable="true">message </th>
                                <th data-field="readingTime" data-sortable="true">readingTime </th>
                                <th data-field="comparisonTime " data-sortable="true">comparisonTime</th>
                                <th data-field="backupTime " data-sortable="true">backupTime</th>
                                <th data-field="loggingTime" data-sortable="true">loggingTime </th>
                                <th data-field="execTime" data-sortable="true">execTime</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
{{end}}

{{define "script"}}
    <script>

        $("#table-backup").on('load-success.bs.table', function (e, data) {
            $('.has-popover').popover();
        });


        function backupSrcDirsFormatter(val, row, idx) {
            return val.join("<br>");
        }

        function backupAddedFormatter(val, row, idx) {
            let link = $("<a/>", {
                href: "#",
                class: "has-popover",
                "data-toggle": "popover",
                "data-trigger":"hover",
                "data-placement": "top",
                "title": "",
                "data-original-title": row.countAdded + ' file(s) added',
                "data-html": true,
                "data-content": bytesWithSize(row.sizeAdded, "<br>"),
            }).html(
                val.toLocaleString()
            );
            return link[0].outerHTML;
        }
        function backupModifiedFormatter(val, row, idx) {
            let link = $("<a/>", {
                href: "#",
                class: "has-popover",
                "data-toggle": "popover",
                "data-trigger":"hover",
                "data-placement": "top",
                "title": "",
                "data-original-title": row.countModified + ' file(s) modified',
                "data-html": true,
                "data-content": bytesWithSize(row.sizeModified, "<br>"),
            }).html(
                val.toLocaleString()
            );
            return link[0].outerHTML;
        }
        function backupDeletedFormatter(val, row, idx) {
            let link = $("<a/>", {
                href: "#",
                class: "has-popover",
                "data-toggle": "popover",
                "data-trigger":"hover",
                "data-placement": "top",
                "title": "",
                "data-original-title": row.countDeleted + ' file(s) deleted',
                "data-html": true,
                "data-content": bytesWithSize(row.sizeDeleted, "<br>"),
            }).html(
                val.toLocaleString()
            );
            return link[0].outerHTML;
        }

        function backupFailedFormatter(val, row, idx) {
            let link = $("<a/>", {
                href: "#",
                class: "has-popover",
                "data-toggle": "popover",
                "data-trigger":"hover",
                "data-placement": "top",
                "title": "",
                "data-original-title": row.countFailed + ' file(s) failed to backup',
                "data-html": true,
                "data-content": bytesWithSize(row.sizeFailed, "<br>"),
            }).html(
                val.toLocaleString()
            );
            return link[0].outerHTML;
        }

        function backupSuccessFormatter(val, row, idx) {
            let link = $("<a/>", {
                href: "#",
                class: "has-popover",
                "data-toggle": "popover",
                "data-trigger":"hover",
                "data-placement": "top",
                "title": "",
                "data-original-title": row.countSuccess + ' file(s) failed to backup',
                "data-html": true,
                "data-content": bytesWithSize(row.sizeSuccess, "<br>"),
            }).html(
                val.toLocaleString()
            );
            return link[0].outerHTML;
        }

        // function backupAddedCountFormatter(val, row, idx) {
        //     let link = $("<a/>", {
        //         href: "#",
        //         class: "has-popover",
        //         "data-toggle": "popover",
        //         "data-trigger":"hover",
        //         "data-placement": "top",
        //         "title": "",
        //         "data-original-title": val.toLocaleString() + ' file(s) added',
        //         "data-html": true,
        //         "data-content": row.sizeAdded.toLocaleString() + " B" + "<br>" + bytesToSize(row.sizeAdded),
        //     }).html(
        //         val.toLocaleString()
        //         + '<br><span class="text-info">' + bytesToSize(row.sizeAdded) + "</span>"
        //     );
        //     return link[0].outerHTML;
        // }
        // function backupModifiedCountFormatter(val, row, idx) {
        //     let link = $("<a/>", {
        //         href: "#",
        //         class: "has-popover",
        //         "data-toggle": "popover",
        //         "data-trigger":"hover",
        //         "data-placement": "top",
        //         "title": "",
        //         "data-original-title": val.toLocaleString() + ' file(s) modified',
        //         "data-html": true,
        //         "data-content": row.sizeModified.toLocaleString() + " B" + "<br>" + bytesToSize(row.sizeModified),
        //     }).html(
        //         val.toLocaleString()
        //         + '<br><span class="text-success">' + bytesToSize(row.sizeModified) + "</span>"
        //     );
        //     return link[0].outerHTML;
        // }
        // function backupDeletedCountFormatter(val, row, idx) {
        //     let link = $("<a/>", {
        //         href: "#",
        //         class: "has-popover",
        //         "data-toggle": "popover",
        //         "data-trigger":"hover",
        //         "data-placement": "top",
        //         "title": "",
        //         "data-original-title": val.toLocaleString() + ' file(s) deleted',
        //         "data-html": true,
        //         "data-content": row.sizeDeleted.toLocaleString() + " B" + "<br>" + bytesToSize(row.sizeDeleted),
        //     }).html(
        //         val.toLocaleString()
        //         + '<br><span class="text-danger">' + bytesToSize(row.sizeDeleted) + "</span>"
        //     );
        //     return link[0].outerHTML;
        // }
        function backupFailedCountFormatter(val, row, idx) {
            let str =  val.toLocaleString();
            if (val > 0) {
                str = '<span class="text-danger"><i class="fa fa-exclamation-triangle"></i> ' + str + '<br>' + bytesToSize(row.failedSize) + "</span>";
            }
            return str;
        }

        function thCommaFormatter(val, row, idx) {
            return val.toLocaleString();
        }

        function thCommaWithTooltipFormatter(val, row, idx) {
            let link = $("<a/>", {
                href: "#",
                class: "has-popover",
                "data-toggle": "popover",
                "data-trigger":"hover",
                "data-placement": "top",
                "title": "",
                "data-original-title": bytesToSize(val),
                "data-html": true,
                // "data-content": bytesToSize(row.sizeDeleted) + "<br>" + row.sizeDeleted.toLocaleString()+ " B",
            }).html(
                val.toLocaleString()
            );
            return link[0].outerHTML;

        }
        function bytesFormatter(val, row, idx) {
            return bytesToSize(val);
        }
        function dateOnlyFormatter(val, row, idx) {
            return moment(val).format("ll");
        }
        function bytesToSize(bytes) {
            return toHumanizedSize(bytes, true);
            // let sizes = ['B', 'kB', 'MB', 'GB', 'TB'];
            // if (bytes == 0) return '0 Byte';
            // let i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));
            // return Math.round(bytes / Math.pow(1024, i), 2) + ' ' + sizes[i];
        }

        function toHumanizedSize(bytes, si) {
            let thresh = si ? 1000 : 1024;
            if(Math.abs(bytes) < thresh) {
                return bytes + ' B';
            }
            let units = si
                ? ['kB','MB','GB','TB','PB','EB','ZB','YB']
                : ['KiB','MiB','GiB','TiB','PiB','EiB','ZiB','YiB'];
            let u = -1;
            do {
                bytes /= thresh;
                ++u;
            } while(Math.abs(bytes) >= thresh && u < units.length - 1);
            return bytes.toFixed(1)+' '+units[u];
        }

        function    bytesWithSize(bytes, prefix, suffix) {
            if (prefix === undefined) {
                prefix = "";
            }
            if (suffix === undefined) {
                suffix = "";
            }
            console.log("==================");
            console.log(bytes + " B");
            console.log(bytesToSize(bytes));
            // console.log((bytes + " B") === bytesToSize(bytes));
            if ((bytes + " B") == bytesToSize(bytes)) {
                return bytesToSize(bytes);
            }
            return bytesToSize(bytes) + prefix + bytes.toLocaleString() + " B" + suffix;
        }

    </script>
{{end}}