{{define "css"}}
    <style>
        .pagination .page-link {
            border-width: 1px;
        }

        .badge-stats {
            margin-right: 3px;
            font-weight: 400;
        }
        @media print{@page {size: landscape}}
    </style>
{{end}}

{{define "sidebar"}}
    <li>
        <a href="/backup/" title="Backup"><i class="fal fa-database"></i><span class="nav-link-text">Backup</span></a>
    </li>
    <li>
        <a href="/settings/" title="Settings"><i class="fal fa-cog"></i><span class="nav-link-text">Settings</span></a>
    </li>
{{end}}

{{define "content"}}
    <div class="subheader">
        <h1 class="subheader-title">
            <i class="subheader-icon fal fa-cog"></i> Settings
            <small>
                configure backup schedule
            </small>
        </h1>
    </div>

    <div class="row">
        <div class="col-md-4">
            {{range $i, $s := .Settings.Storages}}
                <div class="card border mb-2">
                    <div class="card-header py-2">
                        <div class="card-title">
                            Storage #{{$s.Id}}
                        </div>
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            {{if eq $s.Protocol "local"}}
                            <p>
                                <i class="fal fa-database"></i> {{$s.Dir}}
                            </p>
                            <footer class="blockquote-footer">
                                Local Disk
                            </footer>
                            {{else if eq $s.Protocol "sftp"}}
                                <p>Hostname: {{$s.Host}}</p>
                                <p>Port: {{$s.Port}}</p>
                                <footer class="blockquote-footer">
                                    SFTP
                                </footer>
                            {{end}}
                        </blockquote>
                    </div>
                </div>
            {{end}}
        </div>
        <div class="col-md-8">
            <div class="row">
                {{range $id, $job := .Settings.Jobs}}
                        <div class="col-6">
                            <form class="form-job" data-id="{{$id}}">
                                <div id="job-{{$id}}" class="panel panel-sortable" role="widget">
                                    <div class="panel-hdr" role="heading">
                                        <h2>Job #{{$id}} </h2>
                                        <div class="panel-saving mr-2" style="display:none">
                                            <i class="fal fa-spinner-third fa-spin-4x fs-xl"></i>
                                        </div>
                                        <div class="panel-toolbar" role="menu">
                                            <a href="#" class="btn btn-toolbar-master waves-effect waves-themed" data-toggle="dropdown">
                                                <i class="fal fa-ellipsis-v"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-animated dropdown-menu-right p-0">
                                                <a href="#" class="dropdown-item text-danger">
                                                    <span data-i18n="drpdwn.refreshpanelr"><i class="far fa-trash"></i> Delete</span>
                                                </a>
                                                <a href="#" class="dropdown-item js-panel-locked">
                                                    <span data-i18n="drpdwn.lockpanel">Enable</span>
                                                </a>
                                                <a href="#" class="dropdown-item js-panel-reset">
                                                    <span data-i18n="drpdwn.resetpanel">Disable</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel-container" role="content"><div class="loader"><i class="fal fa-spinner-third fa-spin-4x fs-xxl"></i></div>
                                        <div class="panel-content">
                                            <div class="row">
                                                <div class="col-5">
                                                    <div class="form-group">
                                                        <label class="form-label" for="simpleinputInvalid">Storage</label>
                                                        <input type="text" class="form-control is-valid" id="job-storage-{{$id}}" value="{{$job.StorageId}}">
                                                    </div>

                                                </div>
                                                <div class="col-7">
                                                    <div class="form-group">
                                                        <label class="form-label" for="simpleinputInvalid">Schedule</label>
                                                        <input type="text" class="form-control is-valid" id="job-schedule-{{$id}}" value="{{$job.Schedule}}">
                                                    </div>
                                                </div>
                                            </div>

                                            <p class="form-label mt-4 mb-2">Directories to backup</p>
                                            {{range $j, $dirName := $job.SrcDirs }}
                                                <div class="form-group mb-2">
                                                    <input type="text" class="form-control {{if  DirExists $dirName  }}is-valid{{else}}is-invalid{{end}}" value="{{$dirName}}">
                                                </div>
                                            {{end}}

                                            <div>
                                                <button class="btn btn-primary">Update</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                {{end}}

            </div>
        </div>
    </div>
{{end}}

{{define "script"}}
    <script>
        $(".form-job").each(function() {
            let c = $(this);
            $(this).validate({
                submitHandler: function (form, e) {
                    e.preventDefault();
                    let $form = $(this.currentForm);
                    // console.log($form.data("id"));

                    let url = "/settings/job/id/"+$form.data("id");
                    console.log(url);

                    $.ajax({
                        url: url,
                        type: "PATCH",
                        data: $form.serialize(),
                    }).done(function (data) {
                        console.log(data);
                        // $(".result-message", c).html('<i class="fa fa-check"></i> ' + langMap["updated"]);
                        // setTimeout(function() {
                        //     $(".result-message", c).empty();
                        // }, 1000);
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        console.error(jqXHR);
                        Swal.fire("Error", jqXHR.message, "warning");
                    }).always(function() {

                    });


                },
                rules: {
                    // alarmSmsMobiles: {
                    //     required: true,
                    //     minlength: 10,
                    // },
                    // alarmSmsInterval: {
                    //     min: 60,
                    // }
                }
            });

        });
    </script>
{{end}}